* {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html{
  overflow-x: hidden; 
}

body {
  background-color: #050505 !important;
  font-family: 'Play', sans-serif;
}

@keyframes fadein-bg-animate {
	from {opacity: 0;} 
	to {opacity: 1;}	
}

@keyframes text-animate-scrollup {
	from {-webkit-transform: translateY(100%);} 
	to {-webkit-transform: translateY(0%);}	
}

.home {
  background-image: url('https://snz04pap001files.storage.live.com/y4mYeY0cyTxDoD7XhMH2PKfXhs3Ep6qG1tdF02jT0y-lxgcFGtEcHh4LUy8_S63Dtn7rh8qors5PHEDGy2kPQuXHe3Z9K6yZ8qbwqxG-PIKvndsX2MGj_I7DVlv3nJAXDtryUtpyv8QLSH6N0r3wRDxCmGL-lnLGTfb6B_sSOdaNixoT9EYYJjLP7peF-hbDiNn?width=1920&height=1440&cropmode=none');
  -webkit-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

}

.about {
  background-image: url('https://snz04pap001files.storage.live.com/y4m0b81QXGA7rIfXO1EA0ewEEY7tpyAndoIm6JS-P2hHtRQXXD2XVYvjKkKdYe2awr7rWv3Yz_FiJ5wuBzIOXq500dMcamlcg1IX9N3s5lQYN1ZMZURn95nkiiZJgRNSgsd6DpEVRK7YJ1g68cJFUDiaj_L7d1NZQ15YFQP14dc9ArstL0jO-GgLF5onHpdwPoc?width=1920&height=1440&cropmode=none');
  -webkit-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.work {
  background-image: url('https://snz04pap001files.storage.live.com/y4m0dMjGX49DDHODCXHuw7NBNPA65er5q-SPcjuHxVStn_S-qcrkmE5m047lzAWPL4ZS3enoMINmts2bnyofs3ttwgCPZ8E9jimJ-hReOGZriziNCnfwigkWin727VotDetAWPUNVQmOHZnfpad9a3Bj3ZzOLUsePYJnVBaTrDmW-t8eFm_Zq3yDyyrmnbIPxbv?width=1920&height=1440&cropmode=none');
  -webkit-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.contact {
  background-image: url('https://snz04pap001files.storage.live.com/y4mDm5HilR6Q_6eFtd8-pSwZKZZH7M8nXewy3MBSSnQgWZWs1MWEC0uVqZH0ZYsy9vjpvzrjNxsmRpWA0KNstAq49err-2yWOeQfSj5TPmld5QE9BCyHqXNrS6YlcR15X_G4uhg8JdhtjBuaL0ot2EY7bpB1AI0dr5mYZHYEsUfqdoFZYwRZyzrKFWNzAGn_X4m?width=1920&height=1440&cropmode=none');
  -webkit-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.title{
  font-weight: bold;
  font-size:5vw;
  -webkit-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
  -moz-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
  animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);	
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  text-shadow: 2px 2px #050505;
  }

@media only screen and (max-width: 768px) {
  .title{
    font-weight: bold;
    font-size:8.5vw;
    }

    .home {
      background-image: url('https://snz04pap001files.storage.live.com/y4mk0k5ru0eE1OYeApb4X2_U_gvOb-hh0FmDJ1mTPmP95YWbHACCw4bHdrEZBnbUrTGJrO-xH7nx7pp5LBUl359smu2rYLrZTZptm-CcXqlD9866QnJTdJ-dw17WhluqhWt2hcaJVsL2TtdwTNT3epvqousEn_r_OHj4P3v5vAVSVhG2iC0Ml6QmgX2p0kPUcAX?width=768&height=768&cropmode=none');
    
    }
    
    .about {
      background-image: url('https://snz04pap001files.storage.live.com/y4mzqSPcjfojl-a7kd56Pz04H-k9RrxfjnYHnv2bHQMnfJlsLZoOTU_4Si7nGvvrZHurlrzmnwhoWtEWQFnwTfoCcHISfUtyx0MfGNeHJoAhwKYwgRBVzg11hkpa25FT2AaqqLhbfS8tp8Pv1hmQMNanqOQENApmrkaVmKsRjvew7g1PfCI2NtMR_F6TkMyaCAQ?width=768&height=768&cropmode=none');
    }
    
    .work {
      background-image: url('https://snz04pap001files.storage.live.com/y4mX24_i0uOZzKLrq1dJciRizKoHgOSfp-k_lqN1DBadEppRo__0TFSGyLBk3Qz71WeWHFEwhnfn1DRr52gCav54KRNo3_SYh68CRsf_0JHReCNZDum4Via1HMu31W4UZ8NnhUg7CN151Oo6IHC92fJ7sWYlKDWhpU6x2dEFMKCFRlcMAmPPPTkstg8cMvIYmnk?width=768&height=768&cropmode=none');
    }
    
    .contact {
      background-image: url('https://snz04pap001files.storage.live.com/y4m4p4KXm3g-nbqZhLsiMxIg4W7qRSPFW-zHu751NIMj_KvH_RwLMnM83u2Hj4E56OBD5BKhqxvJtGbPJib1c3AkG0l9h19h7_TBCPgClB6cscgyhJFjvh1vZYP7dK84Hr-y2iMRGT9WGTZI0eZunCEUZaVtIFdVG4ESQTBSbesIGHiywa5IweWwryZ8poPcbUE?width=768&height=768&cropmode=none');
    }
}

.home-nav{
  font-weight: bold;
  font-size:6.5vw;
  -webkit-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
	animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
  }

.home-nav-mobile-toggle{
  font-weight: bold;
  font-size:10vw;
  -webkit-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
	animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
  text-shadow: 4px 4px #050505;
}

@keyframes text-mobile-scrollby {
  from {-webkit-transform: translateX(0%);}
	to {-webkit-transform: translateX(7.5%);}	
}

.home-nav-mobile{
  font-weight: bold;
  font-size:10vw;
  -webkit-animation:text-mobile-scrollby 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:text-mobile-scrollby 1s cubic-bezier(.1, .3, .6, 1);
	animation:text-mobile-scrollby 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
  text-shadow: 2px 2px #050505;
  color: #bf00ff;
}

.content {
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  font-family: 'Play', sans-serif;
  height: 100vh;
  width: 100vw;
}

.maxheight {
  height:100vh;
}

.header {
  color: #eeebe4;
  text-decoration: none;
}

a:link {
  color: #eeebe4;
  text-decoration: none;
}

a:visited {
  color: #eeebe4;
  text-decoration: none;
}

.home-nav:hover {
  color: #bf00ff;
  text-shadow: 2px 2px #050505;
  text-decoration: none;
}

.redirect-home:hover{
  color: #bf00ff;
  text-shadow: 1px 1px #050505;
  text-decoration: none;
  font-weight: bold;
}

.redirect-home-mobile{
  color: #bf00ff;
  text-shadow: 1px 1px #050505;
  text-decoration: none;
  font-weight: bold;
}

a:active {
  color: #eeebe4;
  text-decoration: none;
}

.svg-icon{
  fill:#eeebe4;
}

@media only screen and (min-width: 768px) {
  .svg-icon{
    padding: 10%;
  }
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #eeebe4;
}

.svg-icon circle {
  stroke: #eeebe4;
  stroke-width: 1;
}

.svg-icon:hover{
  transform: scale(1.25);
  transition: all 0.5s;
}



@keyframes tap-bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10%);
  }
}
@-webkit-keyframes tap-bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10%);
  }
}

.mobile-tap-area {
  font-weight: bold;
  font-size:5.5vw;
  text-shadow: 2px 2px #050505;
  color: #bf00ff;
  position: fixed;
  bottom: 4%;
  text-align: center;
  width: 100%;
  animation: tap-bounce 1s infinite alternate;
  -webkit-animation:tap-bounce .5s cubic-bezier(.1, .3, .6, 1) infinite alternate;
	-moz-animation:tap-bounce .5s cubic-bezier(.1, .3, .6, 1) infinite alternate;
	animation:tap-bounce .5s cubic-bezier(.1, .3, .6, 1) infinite alternate;
}





/*# sourceMappingURL=styles.css.map*/