* {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: #050505 !important;
  overflow-x :hidden; 
}

@keyframes fadein-bg-animate {
	from {opacity: 0;} 
	to {opacity: 1;}	
}

@keyframes text-animate-scrollup {
	from {-webkit-transform: translateY(100%);} 
	to {-webkit-transform: translateY(0%);}	
}

.home {
  background-image: url('https://bl6pap004files.storage.live.com/y4mJ7itWQSvMGksPJL6ioX9cPTULp78cbzHU5ee90SsKr_fEl1iLIvgnpl8jMoLBGWBqTedU1oRjMDbqRaMqUMDFhAf30SBBDI6oekcKlwe6ApRnM_KS_qbKpyf6uAxvzT5QZxGJlL9NRS79sqICYzULM4VsmB-2TL83F_INzXDxi_T0nJ2Mpjovj9Ff6qEVcQc?width=3648&height=2736&cropmode=none');
  -webkit-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

}

.home-nav{
  font-weight: bold;
  font-size:6.5vw;
  -webkit-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
	animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
  }

  .title{
    font-weight: bold;
    font-size:5vw;
    -webkit-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
    -moz-animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);
    animation:text-animate-scrollup 1s cubic-bezier(.1, .3, .6, 1);	
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    }


.about {
  background-image: url('https://bl6pap004files.storage.live.com/y4mtnVK8x-DnWZVL8xD97UbGE1DmS0OnaVGahG3H66XBBoNeahHUD5LdHcLypQ6WXfGJNHaoDMam9YZjKdUugNdKgk_9mYTdhYwcZgU4Ghug1XXGqCOxVu7pn4WIS3vMsiKHS6EdpguZ67iwtzkL4mq1soEgdENjZx4NcIXxbGb6Q8I29dLsshSz8sERfLgEKM5?width=3648&height=2736&cropmode=none');
  -webkit-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.work {
  background-image: url('https://bl6pap004files.storage.live.com/y4m8XFG4jMErcT_cvYHTdASMlxE_YSgcIRUWvQ2HcSSyWYyuQbEYuZYZ90RQNZNkwZQNky5aQ4e9k9i2OKdhbe-Km5AK-1OYtMPB6XtHrO70YjJnEM3hykVzXFcln9KTt8tO1piATiPsQBQbyEabeFsdRHyOYg4A0hLrNp8tKGrzFkUjI14Q7pMCStaHffClkHA?width=3648&height=2736&cropmode=none');
  -webkit-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.contact {
  background-image: url('https://bl6pap004files.storage.live.com/y4mh-uweLj2Ffuqr2x3XELISIkd2DJBCOWubVTi8_J5Ev-DIosVhOyuLdwdD_9fAdwsv1TPZXK0se_hbV1uQtsplJKIp-8JNzAVIoy8emTZpFtOfHhK2bckI6--aTmeXLEz6hPF2hgE0ElcV1b_6O5S1uWW6wJ2DH-udJHlzpocQqYtNAQ6FE32EBDlZ75xfD6q?width=3648&height=2736&cropmode=none');
  -webkit-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	-moz-animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);
	animation:fadein-bg-animate 1s cubic-bezier(.1, .3, .6, 1);	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.content {
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  font-family: 'Play', sans-serif;
  height: 100vh;
  width: 100vw;
}

.maxheight {
  height:100vh;
}

.header {
  color: #eeebe4;
  text-decoration: none;
}

a:link {
  color: #eeebe4;
  text-decoration: none;
}

a:visited {
  color: #eeebe4;
  text-decoration: none;
}

.home-nav:hover {
  color: #bf00ff;
  text-decoration: none;
}

.redirect-home:hover{
  color: #bf00ff;
  text-decoration: none;
  font-weight: bold;
}

a:active {
  color: #eeebe4;
  text-decoration: none;
}


/*# sourceMappingURL=styles.css.map*/